# OpenAI API Configuration
OPENAI_API_KEY=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

# Browserbase Configuration
BROWSERBASE_API_KEY=bb_live_dUK4BxfvkhLoQp0DU9WuSft-5B8
BROWSERBASE_PROJECT_ID=b0161fd2-4650-4a2e-ad51-2159af9bb48b
